html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    height: 100vh;
}

span {
    font-style: italic;
}

.selector {
    width: 100%;
}

#result {
    font-family: sans-serif;
}

#id_map {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    height: 80vh;
    z-index: auto;
}

#top {
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

#bottom {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
